@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-red: #dc2626;
  --color-brand-black: #09090b;
  --color-brand-gold: #fbbf24;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-brand-black text-white antialiased;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-3xl;
  }
}
